/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/* Navigation Bar CSS */

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  padding: 0 25px;
  opacity: 0.6;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

/* Banner CSS */
.banner {
  padding: 220px 0 200px 0;
  background-image: url('./assets/img/banner-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: rgb(86, 87, 151);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  display: inline-block;
}

.banner h1 {
  font-weight: 700;
  line-height: 1;
  color: rgb(253, 202, 93);
}

.social-icon a {
  width: 50px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: rgba(251, 192, 75, .8);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1.2);
}

.social-icon a img {
width: 45%;
z-index: 1;
transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner .headerImg {
  animation: updown 3s linear infinite;
}

.transition {
  margin-top: 0px;
  height: 30px;
  width: 100%;
}

@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}

/* Skills CSS */
.profile-picture {
  width: 350px;
  border-radius: 20px;
}

.tech-box p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: .5px solid white;
    border-radius: 5px;
    padding: 0 5px;
    background-color: rgb(86, 87, 151);
}

.skill-section {
  background-color: #121212;
}

.background-image-left {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -4;
}

/* Projects CSS */
.projects-section {
  background-color: black;
}

.project h2 {
  color: rgb(253, 202, 93);
}

.projects-section img {
  width: 600px;
  border-radius: 20px;
}

/* Contact CSS */
.contact {
  background-color: black;
}

.contact img {
  width: 200px;
}

.contact p {
  font-weight: bold;
  font-size: 25px;
  color: rgb(253, 202, 93);
}

.contact button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  border-radius: 10px;
  position: relative;
}

.contact button span {
  z-index: 1;
  position: relative;
}

.contact button:hover {
  color: #fff;
}

.contact button::before {
  content: "";
  background-color: #565797;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 7px;
}

.contact button:hover::before {
  width: 100%;
}

.footer {
  background-color: #121212;
  height: 100px;
}

.footer p {
  font-weight: bold;
  line-height: 1.2;
  font-size: 16px; 
}